[2020-03-15 21:59] tplooker opened #3 "Add background on pairing friendly elliptic curves to the readme"
To aid in the education of new comers to the repository a brief summary of what pairing friendly elliptic curves are about and what the afford would be a welcome addition to the root readme.

[2020-03-15 22:01] tplooker opened #4 "Stub out the re-specification format of the specification"
Following the process set out by the other CCG and W3C work items, setup a the base specification document in a re-spec format such that we can enable Github pages on it in the future to render it like other community drafts.

[2020-03-15 22:32] tplooker opened #7 "Ursa dependency"
Currently this repository depends on URSA through an included binary in the repository, this needs to change to support the different javascript environments e.g browser via WASM and react-native through a native binary consumable on IOS and android.

[2020-03-15 23:04] tplooker opened #9 "Create BBS+ signatures that features a privacy preserving subject authentication binding"
Currently the BBS signatures in the initial implementation, do not support commited values in the signature being generated, the following needs to be done to accomplish this

- Break out the required API from URSA and expose it across the FFI.
- Consume it in the FFI layer of this library
- Expand the top level API of a BBS signature to take in the commitment and pass it to URSA for signing.
- Cr

[2020-03-15 23:05] tplooker opened #10 "Create the BBS proof module"
Create the Linked Data proof class that takes in a BBS signature and a list of the to be revealed attributes and generates a linked data proof (zero knowledge proof).

[2020-03-15 23:07] tplooker opened #11 "Review FFI types being used"
Currently we are using JSON structures serialised as strings across the FFI which has a performance impact in signing and verifying signatures, review the need for this and potentially implement more efficient data types for transmitting this information.

[2020-03-15 23:14] tplooker opened #12 "Require certain statements to be revealed in a proof"
When it comes to verifiable credentials, there are core statements in the credential, that the relying party MUST be able to see in a given proof in order for them to decide whether the presentation is valid, i.e expiry, revocation or issuance date.

With this, there is two major options,
1. The relying party must explicitly request this information in a proof request and the proof must be able to

[2020-03-15 23:17] tplooker opened #13 "Standardize the public key format for BSL12-381 so it can be expressed in DID document"
Define the `type` of public key for BLS12-381, likely `BLS12381VerificationKey` and how the key MUST be expressed in a did document i.e the key MUST be expressed in base64 within the key definition.

[2020-03-15 23:19] tplooker opened #14 "Standardize the format of a BLS12-381 commitment in a did document"
BBS signatures for subject binding, include a commitment to the `linked secret`, this commitment can be expressed in a did document to make issuance and re-issuance easier. The format of this commitment in a did document must be standardised.

[2020-03-16 21:05] tplooker opened #15 "Safe hash to generator functionality in URSA"
We need to deterministically derive the generators for the statements to be signed. Creating these generators must be done using an algorithm which safely generates these values.

This algorithm is called simplified SWU, the following links detail how it works

https://tools.ietf.org/html/draft-irtf-cfrg-hash-to-curve-06

https://github.com/cfrg/draft-irtf-cfrg-hash-to-curve/blob/master/doc/svdw_p

[2020-04-26 01:29] #15 closed, assigned to nobody

[2020-04-26 01:30] #13 closed, assigned to nobody

[2020-04-26 01:30] #11 closed, assigned to nobody

[2020-04-26 01:30] #7 closed, assigned to nobody

[2020-04-26 01:30] #4 closed, assigned to nobody

[2020-04-26 01:30] #3 closed, assigned to nobody

[2020-04-26 01:30] #10 closed, assigned to nobody

[2020-04-27 21:40] tplooker opened #25 "Remove package registry authentication"
Once node-bbs-signatures is a public package, remove the current package registry authentication.

[2020-04-28 06:30] #25 closed, assigned to nobody

[2020-04-28 09:11] tplooker opened #32 "Enable Codecov"
Enable codecov as a tool for tracking test coverage in the repository

[2020-04-28 09:13] tplooker opened #33 "Add getting started samples"
Add a getting started sample to the repository for how to use the suite with jsonld-signatures and vc-js

[2020-04-28 20:02] tplooker opened #34 "Use cached JSON-LD contexts on all tests"
Currently some of the linked data proof operations fetch the contexts leading to slower than need test execution results.

[2020-04-29 12:54] geonnave opened #35 "yarn install gives 404 for @mattrglobal/node-bbs-signatures"
I downloaded the repo, run `yarn install`, and got `404 status code downloading tarball https://github.com/mattrglobal/node-bbs-signatures/releases/download/0.5.0/node-v72-linux-x64.tar.gz`.

It seems my system is trying to download v72 when the available is v64, but I don't know why.

Here is the full output:

[code]

[2020-04-29 16:33] kdenhartog commented on #35
I think this maybe because we built to use node v10 latest and the node version you use locally affects the uri that's constructed when downloading the script. Try using v10 latest for now and we'll work on getting support for newer versions of node.

@tplooker as far as I remember there weren't any constrains that kept us to having to use v10 for this package, so I think we should be able to add

[2020-04-29 16:57] geonnave commented on #35
Thanks, that worked.
In particular, I had to use `10.13.0`, as per this message: `error @typescript-eslint/eslint-plugin@2.28.0: The engine "node" is incompatible with this module. Expected version "^8.10.0 || ^10.13.0 || >=11.10.1". Got "10.0.0"`.

[2020-04-29 18:10] kdenhartog commented on #35
We'll leave this issue open until we decide how to handle support for node 12 as well. Thanks for filing the issue.

[2020-04-29 18:14] tplooker commented on #35
@geonnave correct our CI pipeline on each stable build creates a release for different OS's for [node-bbs-signatures](https://github.com/mattrglobal/node-bbs-signatures/releases). We just need to add your node abi to one that is built in this release process. As an interim solution if you have rust installed on your machine try installing one of our [unstable builds](https://www.npmjs.com/package/

[2020-04-30 05:12] #32 closed

[2020-04-30 05:13] tplooker commented on #14
This is a concern for the [specification](https://github.com/mattrglobal/jsonld-signatures-bbs-spec) now.

[2020-04-30 05:13] #14 closed

[2020-04-30 05:41] tplooker commented on #33
Resolved in #41

[2020-04-30 05:41] #33 closed

[2020-05-01 04:08] Fak3 opened #42 "output a VerifiablePresentation instead of VerifiableCredential"
I have noticed that in the examples the output of a signing function is also a VerifiableCredential, but according to the vc spec shouldn't it be VerifiablePresentation instead?

[2020-05-01 04:16] tplooker commented on #42
Hi Fak this library is a generic linked data proof library i.e you can use it to sign any JSON-LD document whether that document is a VC or not, therefore the output of the sign function does nothing more than attach the proof element to the document. If you were to plug this suite into [vc-js](https://github.com/digitalbazaar/vc-js) then you would get objects in the context of VC's enforced acros

[2020-05-01 04:27] tplooker commented on #42
I hope that answers your question please re-open the issue if not

[2020-05-01 04:27] #42 closed

[2020-05-04 05:13] #35 closed

[2020-05-04 05:38] kdenhartog commented on #35
@geonnave and @OR13 this should now be working for Node 12.

[2020-05-04 09:46] tplooker commented on #35
@geonnave release [0.4.0](https://github.com/mattrglobal/jsonld-signatures-bbs/releases/tag/v0.4.0) and beyond should have this fix.

[2020-05-09 01:27] tplooker opened #50 "Issue with change log generation"
Running `yarn version:release` causes the change log to detect all previously released changes as new ones leading to have to do a manual change log adjustment.

[2020-05-12 14:46] manicprogrammer commented on #12
When working on a similar idea but using redactable signature schemes i.e. not using ZKP,  I went with option 2 for a few reasons.

1. The issuer should be able to specify some non-redactable parts that are required for integrity of the assertion- e.g. year to date information to be valid needs an as-of date value.
2. I decided approach 2 is required for more domain specific statements that may no

[2020-05-14 22:20] tplooker commented on #12
@manicprogrammer this is interesting, I have reached the same conclusion, I think we setup a dangerous system if we design for option 1 as the solution, this would mean the verifier or relying party has to explicitly request information that arguable if not revealed effects the integrity of the revealed statements. To make this concrete, I should not as a holder or presenter of a verifiable creden

[2020-05-18 15:57] manicprogrammer commented on #12
If you don't mind I am going to open an issue on the CCG side on the use of the indices themselves. This is a larger architectural and intent discussion on the leakage these provide that if I am grokking what I am studying really undercuts the zero knowledge component.

[2020-05-26 04:02] #50 closed

[2020-06-12 20:47] tplooker opened #57 "Add support for bbs-signatures library"
Add support for the [wasm compatible library](https://github.com/mattrglobal/bbs-signatures) so this library is runnable in browser

[2020-07-29 10:05] #34 closed

[2020-07-30 00:38] tplooker opened #68 "Migrate to using the security context v3 for the signature suite and key definitions"
Once https://github.com/w3c-ccg/security-vocab/pull/53 is merged this can be addressed

[2020-07-30 02:32] tplooker opened #69 "Override matchProof to match on the expanded IRI or the short hand term definition for the signature suites"
In preparing for support for the signature suites to be include in the new security context v3 vocab, the suites in this library should support matching proofs based on both the expanded IRI for the suite type and the short hand term name

[2020-08-01 00:06] tplooker opened #70 "Update samples and docs"
With the latest pending release changes to the API warrants updating the samples and associated documentation

[2020-08-01 00:06] tplooker commented on #70
Additionally rust should not be listed as a pre-req in the root readme.

[2020-08-06 09:17] mohamedrajhi opened #71 "compatibility between did-key and bls keypair"
Hello ,

I'm working on your example published in the sample folder .
I want to replace the did example by a real decentralized identity , so i decided to use did-method-key-js ( https://github.com/digitalbazaar/did-method-key-js )
This is your keypair used in the exemple after adding the did keys :
![image](https://user-images.githubusercontent.com/40335054/89509785-0711d500-d7d0-11ea-92e6-2a4cc2

[2020-08-07 06:38] tplooker commented on #71
Hi @mohamedrajhi yes correct the example is limited to an example based did at the moment, please try integrating in with this library https://github.com/transmute-industries/did-key.js/tree/master/packages/bls12381 if you are looking for a did key implementation for bls12381, @OR13 may be able to provide some more details.

[2020-08-07 14:02] OR13 commented on #71
@mohamedrajhi see these fixtures... https://github.com/transmute-industries/did-key.js/blob/master/packages/bls12381/src/__fixtures__/index.ts#L13

[2020-08-10 14:36] haardikk21 commented on #57
This can be closed with #61 being merged.

[2020-08-10 22:02] #57 closed

[2020-08-12 08:38] mohamedrajhi commented on #71
Thanks for your responses but i can't solve my issues yet ,
I want to use KeyToDid  fonction ( it transforms a keypair to a Did Doc and publish it )  from did-method-key (https://github.com/digitalbazaar/did-method-key-js ) but it doesn't support bls12381 keypair.
look at the example below from ed25519 we can generate the did doc :
`const {Ed25519KeyPair} = require('crypto-ld');
const {keyToDidDoc

[2020-08-13 13:26] OR13 commented on #71
@mohamedrajhi

https://github.com/transmute-industries/did-key.js/blob/master/packages/bls12381/src/driver.ts#L3
https://github.com/transmute-industries/did-key.js/blob/master/packages/workbench/src/pages/home/Home.js#L62

[2020-08-17 06:17] antonimmo commented on #70
Do you mean I installed Rust for nothing?

[2020-08-17 08:26] tplooker commented on #70
Yes apologies, this was erroneous carry over from the underlying dependencies this library [depends on](https://github.com/mattrglobal/node-bbs-signatures), PR #72 resolves this.

[2020-08-17 08:30] tplooker commented on #71
@mohamedrajhi I am going to close this issue as I believe @OR13 library solves the problem, please re-open if you disagree. In future after the latest release of this library we will add a sample showing the end to end integration.

[2020-08-17 08:30] #71 closed

[2020-08-17 08:31] tplooker commented on #70
Sample update will be addressed after the latest release of this library is done.

[2020-08-17 15:00] antonimmo commented on #70
Also, it would be nice to state that `yarn install --frozen-lockfile` works for some npm versions only. I tried with v14.5.0 but failed, so I found out (via [this comment](https://github.com/mattrglobal/jsonld-signatures-bbs/issues/35#issuecomment-621337374)) that it has to do with the node version. I switched to v10.13.0 and it worked.

[2020-08-31 09:09] haardikk21 opened #76 "Unable to deriveProof due to getProofs not including proofValue"
Attempting to `deriveProof` on a signed VC is failing due to `getProofs` returning an array of objects which only contains the `type` property - and ignoring the `proofValue` property which is required for `suite.deriveProof` with `BbsBlsSignatureProof2020`

Starting with this signed VC:
[code]

and the following `documentLoader`

[code]

Calling `deriveProof` with a valid json-ld frame on this wi

[2020-08-31 10:00] haardikk21 commented on #76
The problem was the original signed VC's `proof.type` being `https://w3c-ccg.github.io/ldp-bbs2020/context/v1#BbsBlsSignature2020` instead of just `BbsBlsSignature2020`
Closing.

[2020-08-31 10:00] #76 closed

[2020-09-02 20:58] tplooker opened #77 "Export types from package"
Some of the types this package defines are useful for consumers to have available in typescript environments such as [KeyPairSigner](https://github.com/mattrglobal/jsonld-signatures-bbs/blob/master/src/types/KeyPairSigner.ts), therefore this package should export these from the top level.

[2020-09-03 03:17] tplooker commented on #70
@antonimmo we are in the process of updating the docs now, with the latest version of this library now dependent on [bbs-signatures](https://github.com/mattrglobal/bbs-signatures) rather than directly on [node-bbs-signatures](https://github.com/mattrglobal/node-bbs-signatures) you should be able to use the library beyond node version 10 (including 14), but thanks for pointing this out we will be s

[2020-09-07 01:27] kdenhartog commented on #77
@tplooker and @colinyip Is this issue fine to close now that #78 has been merged?

[2020-09-07 04:38] tplooker commented on #77
Yeap

[2020-09-07 04:38] #77 closed

[2020-09-09 01:51] tplooker commented on #68
With this merged we can now proceed with updating this library to use the unstable version of the v3 vocab

[2020-09-09 01:53] tplooker commented on #9
[Related](https://github.com/w3c-ccg/ldp-bbs2020/issues/37)

[2020-09-09 01:54] tplooker commented on #9
Blocked by support for G1 keys in [bls12381-key-pair](https://github.com/mattrglobal/bls12381-key-pair)

[2020-09-09 01:54] tplooker commented on #69
Related to #68

[2020-09-17 04:51] dysbulic opened #79 "Derive proofs for documents signed by more than one key"
I am working on a digital contract system where more than one party will be signing a document. Currently, it seems that generating multiple signatures is handled by the underlying libraries, but not for deriving proofs. In the [sample app](https://github.com/mattrglobal/jsonld-signatures-bbs/tree/master/sample), I can copy:

[code]

to

[code]

And it will generate a document with an array for `p

[2020-09-17 22:38] tplooker commented on #70
Sample has now been updated to v0.7.0

[2020-09-17 22:41] tplooker commented on #79
Hi @dysbulic thanks for filling this issue, I believe the cause was due to the sample you were using was out of date with the latest release of the library, in #80 I have now updated the sample and tested it with your double proof scenarios with a derivation and it worked as expected, so please let me know if that doesnt resolve this issue.

[2020-09-17 22:58] dysbulic commented on #79
@tplooker, currently if there are multiple BBS signatures, a derived proof will only be generated for the first one.

Is this the correct behavior? It seems like `proof` should be an array with a derived proof for each signature.

[2020-09-17 23:50] tplooker commented on #79
@dysbulic yes this is correct and by default it is selecting the first proof that matches the supported proof type at the moment. We could potentially modify the logic in [deriveProof](https://github.com/mattrglobal/jsonld-signatures-bbs/blob/master/src/deriveProof.ts#L44) to generate a derived proof per matched proof, could you elaborate more on why this usage is important, do you want to be able

[2020-09-18 01:15] dysbulic commented on #79
I am working on a bonded courier service. I want to have the sender, recipient, and courier all sign a JSON-LD contract describing:
• the appearance of the parcel
• where it is coming from
• where it goes
• bond amount staked against loss of the parcel
• bid amount the courier will receive

An escrow covering the courier's bid for the job and a stake of the courier's bond are created.

If a party

[2020-09-18 02:40] dysbulic commented on #79
[I've got code](https://github.com/mattrglobal/jsonld-signatures-bbs/compare/master...dhappy:master) that passes all the existing tests. The sample, however, is failing, and I'm still narrowing down why.

The basic refactor that I did was for `studio.deriveProof` and `studio.verifyProof`, I moved the bulk of the computation into a `derive` (or `verify`) method which I call appropriately depending

[2020-09-21 00:34] tplooker commented on #79
@dysbulic thanks for the link and description of the usecase, I think we can refactor the deriveProof function to instead of selecting the first valid proof, enumerate through matched proofs and create a derivedProof

[2020-09-21 03:35] #70 closed

[2020-09-21 03:46] tplooker opened #81 "Remove inheriting from jsonld-signatures abstract classes"
Because [jsonld-signatures](https://github.com/digitalbazaar/jsonld-signatures) is un-typed (written in JS) and this library leverages types through typescript when inheriting from an un-typed abstract based class the TS compiler is essentially blind. To improve the development experience we should sever this dependency and do one of the following

1. Define our own base classes but in typescript

[2020-09-21 03:57] kdenhartog commented on #68
WIP branch to work off: https://github.com/mattrglobal/jsonld-signatures-bbs/compare/tl/update-to-security-v3

[2020-10-05 14:54] kdimak opened #84 "Invalid VC JSON-LD documents in sample"
At https://github.com/mattrglobal/jsonld-signatures-bbs/blob/master/sample/src/data/inputDocument.json used in a sample script, there is one unreachable context `https://w3c-ccg.github.io/ldp-bbs2020/context/v1`. This results in errors in different JSON-LD operations.
For example, if one tries to get `Compacted` form of the document using https://json-ld.org/playground/, he will get processing err

[2020-10-05 15:05] kdimak commented on #84
https://w3c-ccg.github.io/ldp-bbs2020/contexts/v0.1.jsonld is reachable for now...

[2020-10-05 15:10] kdimak commented on #84
OK, you are caching this document in the sample. No issue then.

[2020-10-05 15:10] #84 closed

[2020-10-05 22:06] kdenhartog opened #85 "Consider other options for dealing with `@included` tag"
While adding support for using multiple proofs when deriving proofs, the JSON-LD tooling started restructuring the proof property when it's an array to look like this:

[code]

Rather the output needs to look like this to properly validate the signatures:

[code]

Right now the solution for this is to just remove the `@included` property before returning the document from the deriveProof API. This

[2020-10-06 22:37] kdenhartog commented on #79
@dysbulic we've got this code into master and are fixing the CI pipeline so an unstable release can be used to work with this functionality shortly. Samples are in PR #83 as well if you'd like to look at some examples.

Thanks for filing this issue.

[2020-10-07 02:51] tplooker commented on #79
@dysbulic this functionality is now available in the unstable version of [0.7.1-unstable.55c8eaa](https://www.npmjs.com/package/@mattrglobal/jsonld-signatures-bbs/v/0.7.1-unstable.55c8eaa) we will cut a formal release in the next week or two after implementing several other pending features

[2020-10-07 22:11] dysbulic commented on #79
@tplooker, that's awesome. I'll play around with it some.

You all's turnaround time was great. Thanks for being so responsive to the community.

All this crypto stuff is evolving so quickly, especially the zero-knowledge arena. It's nice to have solid implementations to build on.

[2020-10-07 23:29] tplooker commented on #79
@dysbulic you're welcome glad we could help

Yes watch this space, we have many more features coming down the pipeline.

We will keep this issue open until this feature is cut into a formal release

[2020-11-04 20:36] tplooker commented on #81
Adding additional scope to this issue too, once we have removed the inheritance we need to implement our own matchProof logic that matches the proof against the valid enumeration of values

[code]

[2020-11-04 20:47] tplooker commented on #69
The concrete enumeration that we must match on for the two suites are

[code]

[code]

[2020-12-06 15:52] OR13 opened #90 "unexpected type"
when using this library with vc-js I am getting:

[code]

Specifically:

` type: 'https://w3c-ccg.github.io/ldp-bbs2020/context/v1#BbsBlsSignature2020',`

I would expect this to be `BbsBlsSignature2020` IF  `BbsBlsSignature2020` is defined in `https://w3id.org/zkp/v1`.

[2020-12-06 15:54] OR13 commented on #90
Possible this will be addressed by https://github.com/mattrglobal/jsonld-signatures-bbs/pull/89

I suggest we get the proof looking correct:

1. with overloading contexts
2. without overloading contexts
2. without new contexts (such as sec-v3)

[2020-12-06 15:59] OR13 commented on #90
nvm, copy paste error.

[2020-12-06 15:59] #90 closed

[2020-12-06 17:48] OR13 opened #91 "Nesting and frames support"
[code]

[code]

trying to figure out how to get deriveProof on nest claims, for example:

[code]

with

[code]

[2020-12-06 21:28] OR13 opened #93 "Absolute IRI "sec:BbsBlsSignature2020" confused with prefix "sec"."
[code]

I believe this is caused by the interaction between sec-v3-unstable...

https://github.com/mattrglobal/jsonld-signatures-bbs/blob/2673a0a077c232ca5be61b93339be547e5341635/src/BbsBlsSignature2020.ts#L54

imo this call to super should be with https://github.com/mattrglobal/jsonld-signatures-bbs/blob/2673a0a077c232ca5be61b93339be547e5341635/src/BbsBlsSignature2020.ts#L401

See similar approac

[2020-12-06 22:32] tplooker commented on #93
@OR13 can you provide an example of when this is occuring because I believe this is correct behaviour based on the limitations of the security v2 context

[2020-12-06 22:46] kdenhartog commented on #93
This is a work around because the new sec-v3 context doesn't properly expand with the current json-ld signatures implementation due to the removal of the prefixes and moving to long form IRIs. See this issue for additional details: https://github.com/digitalbazaar/jsonld-signatures/issues/118

[2020-12-07 00:49] OR13 commented on #93
more details here: https://github.com/w3c-ccg/security-vocab/pull/80

[2020-12-07 00:50] OR13 commented on #93
I am attempting to get the credentials to work with only:

- credentials/v2
- security/v3-unstable

[2020-12-07 01:22] OR13 commented on #93
Reminder to fix this :
https://github.com/mattrglobal/jsonld-signatures-bbs/blob/2673a0a077c232ca5be61b93339be547e5341635/src/BbsBlsSignature2020.ts#L59

Then we won't need to load sec-v3 with when cred-v2 or bbs-v1 is included.

[2020-12-07 02:02] OR13 commented on #93
IMO, we should just wait until the latest stable uses addresses this issue

Then add examples of linked data signatures and credentials, that replace the current sample and only use:

- credentials/v2
- security/v3
- credentials/v1  + https://w3c-ccg.github.io/ldp-bbs2020/contexts/v1
- security/v2 + https://w3c-ccg.github.io/ldp-bbs2020/contexts/v1

[2020-12-10 02:24] kdenhartog commented on #91
Noting I saw this, but need to play around with things a bit before I can come back with an answer. I think this is mainly going to come down to upgrading how we use the frame API in json-ld or updating json-ld.js

[2020-12-10 22:22] kdenhartog commented on #81
This has turned into a larger issue. jsonld.js needs to be properly typed first and so does jsonld-signatures before this suite can be defined. Otherwise there's likely to be typing conflicts in this library.

[2020-12-11 04:33] kdenhartog commented on #91
Did some digging on this so far, but stopping for the day. This is the value of compactInputProofDocument that's being [passed into jsonld.frame on line 138](https://github.com/mattrglobal/jsonld-signatures-bbs/blob/2673a0a077c232ca5be61b93339be547e5341635/src/BbsBlsSignatureProof2020.ts#L138)

This seems a bit odd to me so I need to do some more digging into if the fromRDF value is getting bad in

[2020-12-11 14:52] OR13 commented on #91
ping @msporny @dlongley if you have thoughts

[2020-12-14 07:42] kdenhartog commented on #91
This will be fixed in #96

Thanks for raising this @OR13

[2020-12-21 04:13] #91 closed

[2021-01-26 01:33] kdenhartog commented on #85
Confirmed this is fixed in master by logging the result in `"should derive proofs from multiple proof documents and be able to verify them using jsonld-signatures library"` with the output being:

[code]

Closing this issue.

[2021-01-26 01:33] #85 closed

[2021-01-28 22:26] tplooker opened #99 "Migrate to async based API for underlying crypto operations"
Once the latest release of [bbs-signatures](https://github.com/mattrglobal/bbs-signatures) is complete which includes [this pr](https://github.com/mattrglobal/bbs-signatures/pull/61), this library should be updated.

[2021-01-28 22:29] tplooker commented on #68
Outstanding work on this is to update the samples in the repo including what is in the root readme to show the new context element.

[2021-02-07 03:33] OR13 opened #101 "stop using https://w3c-ccg.github.io/ldp-bbs2020/context/v1"
This context is still loaded when calling issue... instead, this one should be used:

https://w3id.org/security/bbs/v1

possibly after updating to make it match:

https://github.com/transmute-industries/vc.js/blob/master/packages/vc.js/src/__fixtures__/contexts/zkp-v1.json

[2021-02-07 03:56] OR13 commented on #101
hmm, can't fix the iri for the proof... without changes to this library... this is the best I can do:

[code]

[2021-02-07 04:45] tplooker commented on #101
Hey @OR13 we are currently fixing this for our next release, are you using the latest stable release of the library?

[2021-02-07 04:47] tplooker commented on #101
Because the latest unstable release begins this migration to the security namespace, not complete yet however.

[2021-02-07 15:55] OR13 commented on #101
yes, unstable works... although looked at security-v3-unstable... I wonder if is not better to just ship a separate context file for every suite from now on, and they aggregate them in security-v3 later....

I think @kdenhartog was right about smaller context files... for the suite, what is the point of using security-v3-unstable over https://w3id.org/security/bbs/v1 if they define terms the same

[2021-02-07 15:56] OR13 commented on #101
I suggest you publish a stable version that fixes the IRIs asap... it will be a breaking change...the sooner you do it, the better.

[2021-02-07 16:05] OR13 commented on #101
This issue should be closed when the stable version does not have this stuff in it.

[2021-02-07 16:11] OR13 opened #102 "TypeError: abort is not a function at $379"
When verifying proofs in browser with this library,

- `BbsBlsSignature2020` works.
- `BbsBlsSignatureProof2020` errors

Yet the same tests pass when running in nodejs.

https://github.com/OR13/didme.me/blob/master/test/bbs-issue-verify.test.js

browser demo (currently broken):

https://didme.me/verify

[2021-02-10 07:02] kdenhartog commented on #101
I'm swamped at the moment, but if I catch some time to work on this I'll get it updated. I agree with your conclusion @OR13

[2021-02-11 08:00] kdenhartog commented on #102
@OR13 let's setup a call so I can debug it with you. I've been having a few minor issues with derive as well in certain scenarios and with this error reported I'm thinking we might be encountering a common bug. I'll message you on DIF slack to get something figured out tomorrow.

[2021-02-11 16:33] OR13 commented on #102
:)

[2021-02-12 00:59] OR13 commented on #102
Firefox reports:

[code]

[2021-02-12 01:03] OR13 commented on #102
Maybe try capturing the breaking output from the browser as byte arrays and pass them directly to the function in nodejs and see it explodes.... if it does then its the browser malforming inputs, not he modules fault.

[2021-02-12 01:03] kdenhartog commented on #102
@mikelodder7 @tplooker

@OR13 and I spent some time looking at this and it seems like it may be an issue to how the rust is being converted to wasm code, or how the wasm code is being run in the browser (it works in node).

[2021-02-12 01:13] OR13 commented on #102
reproducible in https://github.com/OR13/didme.me/tree/experiment-with-zkp

[2021-02-12 02:59] tplooker opened #103 "Migrate proofValue definition to multi-base format"
Many other linked data suites are now encoding the proof value in multi-base format, this has compression benefits when re-encoding a JSON-LD document to CBOR-LD

[2021-02-15 21:49] tmarkovski opened #105 "Sample VC document uses conflicting contexts"
The test documents [test_vc.json](https://github.com/mattrglobal/jsonld-signatures-bbs/blob/master/__tests__/__fixtures__/data/test_vc.json) and [test_signed_vc.json](https://github.com/mattrglobal/jsonld-signatures-bbs/blob/master/__tests__/__fixtures__/data/test_signed_vc.json) require contexts that are conflicting and unable to be processed. For example the term `Ed25519Signature2018` is define

[2021-02-16 02:21] kdenhartog commented on #105
Yeah this happens when the documentLoader you're using remotely fetches the contexts (security-v3 and credentials). I've been working on solving the problems for this in the remote contexts but we're somewhat blocked by how to handle this in the VC context because it's the one causing the issue with poorly defined LDP suite terms. Most of this work has been tracked in the [security-v3 repo issues]

[2021-02-17 03:25] tmarkovski commented on #105
@kdenhartog That did the trick! Cheers

[2021-02-17 03:25] #105 closed

[2021-02-22 09:21] tplooker commented on #93
This issue will be addressed in the up and coming v0.8.0 release

[2021-02-22 09:22] tplooker commented on #101
This issue will be addressed in the up and coming v0.8.0 release

[2021-02-24 10:15] #101 closed

[2021-02-24 10:15] #99 closed

[2021-02-24 10:15] #93 closed

[2021-02-24 10:16] #79 closed

[2021-02-24 10:16] #69 closed

[2021-02-24 10:17] #68 closed

[2021-02-27 20:55] OR13 opened #109 "Various warnings when bundling with CRA"
[code]

[2021-03-12 00:25] brianorwhatever commented on #102
I think I am running into this same issue in node. I don't have a quick sample I can grab but the verifyCredential call using the transmute vc library and a BbsBlsSignatureProof2020 suite is throwing the following wasm error:

Could be an issue with my derived credential which is the following:

[code]

[2021-03-15 15:00] OR13 commented on #102
This issue is related to the way the rust is compiled to wasm.

[2021-03-16 20:30] kdenhartog opened #110 "When using "urn:uuid:<uuidV4>" for the credentialSubject.id property in a VC deriveProof behaves in odd ways"
As stated in the title for some reason when using "urn:uuid:<uuidV4>" for the credentialSubject.id property in a VC deriveProof behaves in odd ways. We'll add some tests and debug to figure out what's happening here. Could be an issue with JSON-LD frame calls because it's an issue in both go implementation and this implementation.

[2021-03-21 17:37] OR13 opened #111 "https://w3id.org/security/v3-unstable -> https://w3id.org/security/bbs/v1"
I think its better to use `https://w3id.org/security/bbs/v1` instead of sec-v3.... We need to move towards sec-v3 flattening common vocab from v1 and v2 and not defining suites at all.

[2021-03-21 20:39] tplooker commented on #111
@OR13 agree however `https://w3id.org/security/bbs/v1` does not define the `proof` term which is required in several operations with linked data proofs. We perhaps need a seperate context definition just for that term.

[2021-03-21 21:06] kdenhartog commented on #111
I think we could add the proof property in via a scoped context so that we could move to the bbs context while still being able to keep it down to a single context. We might need to check if that term will cause redefinition issues with the vc context as well, but it would be good to figure out a way to handle it that for VCs and for general JSON-LD documents.

[2021-04-03 18:57] vongohren commented on #111
Im currently getting this issue with the sample setup here. Related to this url

![image](https://user-images.githubusercontent.com/1012055/113488522-02b4cd80-94bf-11eb-804c-b950426f56e5.png)

@tplooker @kdenhartog any idea why it fails to reference?

Just trying to run the sample setup in this repo, with the same json ld file

[2021-04-03 19:54] vongohren opened #114 "Sample fails with a strange error, atleast to me"
![image](https://user-images.githubusercontent.com/1012055/113489894-1d8b4000-94c7-11eb-96da-24dc91134dc7.png)

This happens when I try to make a derive proof, and im quite new to JSON LD and BBS, so cannot say much on why it happens. Anyone here have an idea?

[2021-04-03 19:57] vongohren opened #115 "What is the main reason sample is using a special document loader?"
Just trying to make sense on how this can be used in real live scenario and why this sample loads JSON from file? Which really lives live somewhere? Is it to keep test efficient and fast?

Would it work without that special loader, since jsonld will try to load urls?

[2021-04-04 04:10] tplooker commented on #111
the v0.9.0 release in progress will address this

[2021-04-04 04:54] tplooker commented on #115
@vongohren good question, in general it is considered [best practise](https://w3c.github.io/json-ld-bp/#cache-context) to cache any remote context where possible. The document loader included in the sample is a simple way in which to do this.

Yes it does

[2021-04-04 04:55] tplooker commented on #114
@vongohren is this running the sample un-modified? If not can you share what you are running?

[2021-04-04 07:43] vongohren commented on #114
@tplooker good question. I ran the sample unmodified and it worked. But the only difference I see is that I used higher versions of jsonld and jsonld-signatures.

[code]

<details>
  <summary>Code</summary>

[code]
</details>

[2021-04-05 11:03] tplooker commented on #111
Closed via v0.9.0 release

[2021-04-05 11:03] #111 closed

[2021-04-06 00:50] tplooker commented on #114
@vongohren can you try the latest sample, it has just been updated to use the v0.9.0 release?

[2021-04-06 00:50] tplooker commented on #115
@vongohren anything else outstanding on this issue that needs to be clarified?

[2021-04-09 21:41] vongohren commented on #115
@tplooker no sorry, thanks for the reply :D

[2021-04-09 21:41] #115 closed

[2021-04-09 22:23] vongohren commented on #114
@tplooker I can confirm to have the latest master.
But if I update the libs, jsonld and jsonld-signatures to the versions mentioned above, the initial error is there.
Yarn does work to install, but the tried to redefine a protecetd term, is still there.

[2021-04-20 07:08] TimoGlastra opened #119 "Verifying derived proof fails in Browser environment"
The following derived proof verifies in NodeJS (node 10, using test setup in this repo), but fails in my browser (`Brave Version 1.23.71 Chromium: 90.0.4430.72 (Official Build) (x86_64)` and also tried Google Chrome). The other operations (issue, verify, derive) work fine, so I don't think it has anything to do with my setup.

Not sure if it's helpful, but I've also attached the stack trace of the

[2021-04-27 08:42] brianorwhatever opened #121 "bundle with src?"
Is there anyway to bundle this with the src dir? debugging problems hits a brick wall when I land in here

[2021-04-27 17:54] tplooker commented on #121
Hey @brianorwhatever im unsure what you mean by this, what environment are you trying to debug in?

[2021-04-27 18:04] brianorwhatever commented on #121
Sorry, I managed to debug my issues no problem.. not sure why I was having troubles last night.

Found I had 2 problems with my code:
* credentialSubject didn't have an "id" value so was being dropped from the json-ld frame
* vc issuance was adding the wrong key id to the proof verificationMethod

Closing this issue now, thanks for the quick reply!

[2021-04-27 18:04] #121 closed

[2021-04-28 08:09] kdenhartog commented on #121
Yeah this is a common problem our team has had to deal with as well. I'm not really sure how to share these types of learnings more broadly. Any suggestions would be welcomed.

[2021-04-29 05:17] brianorwhatever commented on #121
so @kdenhartog just to make sure I have this straight. Reading from this thread https://github.com/w3c-ccg/ldp-bbs2020/issues/45

- if the VC has an id it MUST be revealed
- the credentialSubject MUST have an id and be revealed

We are signing the compact form of the document, is that correct?
![image](https://user-images.githubusercontent.com/7122708/116505349-815b1b80-a86f-11eb-8ac8-ac83f8589d99

[2021-04-29 06:26] brianorwhatever commented on #121
nevermind, just read the spec - rdf normalized of course

[2021-04-29 06:40] TimoGlastra commented on #121
Could you elaborate on this one? I've had some trouble with `credentialSubject` values being dropped if I didn't specify a `type` in some cases. Is it related to this?

[2021-05-06 15:07] vongohren opened #122 "Invalid Frame on verification of a BBS signature"
Im uncertain where this fails but seems to me that it comes from this lib.

I have a strane error coming from trying to recreate the bbs signature sample with libraries that I want to use.
I try to great a keypair with did-key.js and use that to sign.
That works
Then I want to verify but get a strange JSON LD verification error, and dont know where to start.

Any thoughts?

<img width="1680" alt="

[2021-05-06 17:16] vongohren commented on #122
Some context

<img width="1484" alt="Screen Shot 2021-05-06 at 19 15 10" src="https://user-images.githubusercontent.com/1012055/117338999-83d8f900-ae9f-11eb-8822-9798a61a99ea.png">

[2021-05-06 20:17] kdenhartog commented on #122
Can you publish the code that you're using to work with this? I'm thinking the issue here is that the verificationMethod used is only a fragment which means either an `@base` property needs to be specified within the issued credential or the full did url syntax should be added so that the documentLoader can resolve the public key material to verify the signatures.

[2021-05-06 20:24] vongohren commented on #122
Thanks for reply @kdenhartog. Anywhere I can read about this @base property, or you know about any examples or helpers about that? There is btw a long thread going on here: https://difdn.slack.com/archives/C4X50SNUX/p1620313732057300, as it was relevant for some other questions I had up in the air.

I will see if your pointer and the discussion leads to something working tomorrow, dont have the co

[2021-05-06 20:32] vongohren commented on #122
@kdenhartog I do think I touched upon something bigger: https://github.com/w3c/did-imp-guide/pull/3, not directly related but there are some mentions of BBS and documents without context there.

[2021-05-06 22:09] kdenhartog commented on #114
We've not updated and tested this library against the packages that you're relying on. For now, my suggestion would be to remain on the versions used within the samples.

Even still, my experience has shown me that the redefined protected terms errors appears when the context files are not quite correct. Can you post the link to the proof that you're working with so that I can take a look at the c

[2021-05-06 22:13] kdenhartog commented on #119
Yeah this is an issue we discovered that we haven't had the time to completely debug yet. For some reason the browser's WASM engine doesn't like the compiled WASM files from the underlying BBS Signatures library. Issue #102 is caused by similar related aspects of the browser's WASM engine. For some reason the Node.js implementation works well with this repository but none of the browsers like it.

[2021-05-07 09:05] vongohren commented on #122
I was not able to get past this issue, even if I change up things in the document loader: https://gist.github.com/vongohren/92753c7dc8e8be7ed219c2d184c624aa

How shall I be able to verify this?

[2021-05-07 12:01] vongohren commented on #122
I did get help from another DIF member: https://gist.github.com/S3bb1/ddd74704c0f9980d93e4e6302439594c
He left comments and thoughts on why it was needed.

But is this the stuff you have to deal with usually? Or since everyone is making their own things, they know their own libraries?

[2021-05-08 07:57] vongohren commented on #114
@kdenhartog it seems there are some updates in the chain. Im able to do clean yarn installs on https://gist.github.com/vongohren/92753c7dc8e8be7ed219c2d184c624aa meaning that fetching the newest versions now work fine together.

We can potentially close this.

But thanks for the debuggin introduction, I will take that with me!

[2021-05-12 01:16] kuzdogan commented on #119
I can also confirm the issue. In my case, however, I was able to successfully verify some of the derived proofs. I wasn't able to recognize a pattern on what gets verified and what throws an error. Still leaving some of them here in case it helps. I can provide further details.

For the (non-derived) credential below, only removing `journal`, or removing none of the fields when deriving a proof re

[2021-05-12 07:54] kdenhartog commented on #119
Thanks more examples like this will be helpful when we get around to looking at it. Also, side note cool idea to host the contexts on githubusercontent.com

[2021-05-20 13:05] kuzdogan commented on #119
So I moved the verification to the server-side, and really interestingly it started to throw exactly the same error after an upgrade to node.js version `v14.17.0` (LTS) 🤔. Reverting to `v12.10.0` works.

[2021-05-21 01:41] yamdan opened #128 "Removing credentialSubject.id causes null credentialSubject"
Impressed with your demo and sessions in IIW32, I tried to use this to implement a kind of anonymous credentials, where derived proof does not contain explicit correlating factors such as credential id & holder's id.

So first I prepared the following VC without credential id (`id`) nor holder's id (`credentialSubject.id`):

[code]

Then prepared the following JSON-LD frame to hide the other corre

[2021-05-21 07:40] kdenhartog commented on #119
Interesting, I believe the node-signatures-bbs library that's used underneath this is tested against node 14. I was recently looking into upgrading things and realized that Node 14 upgraded the V8 engine to a new major version. I believe the latest version of chromium browsers have updated as well to the new V8 engine. My hunch is that the compilation of the wasm files used are incompatible with t

[2021-05-22 23:34] #128 closed

[2021-05-22 23:40] tplooker commented on #110
@kdenhartog with the fix of #129 can you confirm this is still an issue, alternatively can you add a bit more detail to the ticket so others are able to trace it.

[2021-05-22 23:52] kdenhartog commented on #110
Yeah will give this a re look at this now that #129 is merged

[2021-05-25 23:59] #102 closed

[2021-05-25 23:59] #119 closed

[2021-05-26 00:45] tplooker commented on #109
An easier way to replicate this issue is by running the basic [browser sample](https://github.com/mattrglobal/jsonld-signatures-bbs/tree/master/sample/browser), for some reason web-pack is insisting on installing the optional dependency of node-bbs-signatures that is for when a consumer of bbs-signatures is running in Node and would like the performance boost of executing via a native node module.

[2021-05-26 00:45] tplooker commented on #114
@vongohren with the merge of #135 can you try things out again and let me know if you are still facing issues?

[2021-05-26 04:50] kdenhartog commented on #109
Seems like based on the documentation the `browser` property in the package.json file is a hint rather than an indicator of picking up only certain files. Maybe that has something to do with it?

https://docs.npmjs.com/cli/v7/configuring-npm/package-json#browser

[2021-05-26 20:49] tplooker commented on #122
@vongohren to be clear is this issue distinct from #114?

[2021-05-26 21:40] vongohren commented on #122
@tplooker yeah thsi is different, as this is more related to the resolving. The other I believe is mainly related to the big gap in different versions for Json-ld signatures.

[2021-05-29 08:16] vongohren commented on #114
So I did solve it earlier by depending on your transient dependency with "jsonld-signatures"

But adding "jsonld-signatures": "^8.0.2", the same error comes.
That gist above is what I use for code.
<img width="1680" alt="Screenshot 2021-05-29 at 10 13 59" src="https://user-images.githubusercontent.com/1012055/120063317-db195600-c066-11eb-8833-6b2b05567166.png">

@tplooker ☝️

[2021-05-30 11:34] kdenhartog commented on #114
Did a bit of debugging on this. There's two issues I've found so far. For some reason the way the `getVerificationMethod()` function passes the exact string of the fragment id only in is wrong. That's not a valid IRI so the frame call is throwing an error. This is going to require us to figure out why the verificationMethod property is only adding the fragment portion of the identifier in the proo

[2021-06-01 14:37] OR13 commented on #114
This is currently working:

https://did.key.transmute.industries/did:key:z5TcF54ZLL5RVaKcvfPbaX2aBFJbXPcc5wG8bomgt4jyap1wVhtHtWVD2gDwD4jXsbEE1PSMeNfEUxkeVjd2R1fvJiaAmrEc2cQsvBe3UmVS7F3FT18mig8PnN2SRRGRsrMva7QPdBSQajC6JkPN2G2Aye3PAgbcjXdFknvCLbaGCBpDCqyyPh6EU7GxJkvmciNk4onHR

I have general concerns with the approach digital bazaar is taking with documentLoaders... they are either a resolver or a d

[2021-06-16 12:24] vongohren opened #139 "Not able to match suites using JSON ld signatures"
My verification method fails because JSON ld is not able to match suit and type. With a credential I have made earlier.
Im using @mattrglobal/jsonld-signatures-bbs -- 0.10.0  -- BbsBlsSignature2020 on both sides, Issuance and Verifications.

Using "jsonld-signatures": "^9.0.2" directly on verification side and on the issuer side im using
[code]

But as you can see, there are some mismatch when jso

[2021-06-16 13:11] OR13 commented on #139
I have seen this before.

your did is resolvable.. but it might not have the correct context yet:

 - https://did.key.transmute.industries/did:key:zUC76TFzdrf6kvBFoe1kQg3QZsupm6aatPr46eXMnPm86p5LooBf7ieWLerrNsvSVJtpujpXq4XPYSdc9fViBmAAmxAhdW8meRyJ2GDzAa5WKL7ja7EH6HiUxhEuK4dhxXLdFuN

 Make sure it does: https://ns.did.ai/suites/bls12381-2020/

 here is a similar test:

 https://github.com/OR13/didm

[2021-06-16 13:13] OR13 commented on #139
I would recommend not writing suite classes that are more than 1 file, or split across npm packages... and the amount of code in the current suites is problematic, ideally the suite would be rewritten to make this much simpler, and removing all uneeded code / minimizing the code paths for review.

[2021-06-16 19:04] vongohren commented on #139
Great information @OR13!
From what I understand, some of these thoughts are directed to the library creator and contributors?
How much can I do without changing up the library, or is it anything I can do?

Because when you say that I should have my did method with a context, which comes out of did-key libraries at transmute, what can I do to improve that? Or we are "converting" between mattrs blsk

[2021-06-16 19:34] OR13 commented on #139
@vongohren I am just giving your all the context I can to help you.

You need to understand how this stuff works to debug the issue.

as far as I can tell, there is no change needed to use transmute and mattr libraries together.

I am not sure why you are encountering the issue you are, but I would recommend a minimal example that will help the library maintainer debug the issue.

ideally, one tha

[2021-06-16 20:38] vongohren commented on #139
Great thanks! I will work on it!
I just usually believe that when I see such an error, it is something I do
wrong and should be easily fixed.
But I guess as things are moving quickly, sometimes these things can slip
through the cracks and I will make sure to highlight this.

On Wed, Jun 16, 2021 at 9:34 PM Orie Steele ***@***.***>
wrote:

[2021-06-16 21:10] OR13 commented on #139
@vongohren its possible there is a problem in either our libraries or Mattr's... did core changes broke a number of things for us recently, and we have not finished pushing our fixes all the way through our did-key implementation.

[2021-06-16 21:13] smithbk opened #140 "TypeError: suite.ensureSuiteContext is not a function"
I'm just starting to use this library, so I'm probably doing something wrong but it is not obvious to me.  Thanks for any help.

Should the BbsBlsSignature2020 class extend suites.LinkedDataSignature rather than suites.LinkedDataProof, as it seems like that would fix my problem since the ensureSuiteContext function is defined in LinkedDataSignature which extends LinkedDataProof.

I am getting the

[2021-06-17 07:35] tplooker commented on #139
@vongohren as suggested by @OR13 could you create a small sample so I can debug this some more?

[2021-06-17 07:37] tplooker commented on #140
Hi @smithbk what version of jsonld-signatures are you using?

[2021-06-17 08:42] vongohren commented on #139
Coming up, give me an hour or so

[2021-06-17 10:10] smithbk commented on #140
"version": "9.0.2",

[2021-06-17 11:17] vongohren commented on #139
# Intro
@tplooker @OR13 here is a repro: https://github.com/vongohren/json-ld-error-repro

I have splitted it into issuer and verifier because this is where the mistake is I believe.

In the issuer there is no direct dependency on `"jsonld-signatures"`
It uses the intrinsic `"jsonld-signatures"` dependency of `"@mattrglobal/jsonld-signatures-bbs"` which uses version 5.0.1.

So when the verifier is

[2021-06-17 13:19] OR13 commented on #139
The VC isn't broken, as far as I can tell.

The issue is likely version drift between libraries maintained by 3 independent companies.

From a developer perspective, you should avoid any solution that takes on a lot of 3rd party dependencies, its worth asking could we make `@mattrglobal/jsonld-signatures-bbs` not depend on `jsonld-signatures`?

You can see that this library does not: https://githu

[2021-06-17 14:01] vongohren commented on #139
@OR13 thanks for great explanation and suggestion, Im still learning about many of these thoughts so its very helpful to get a good explanation. I do not have an immediate suggestion to complement your explanation and suggestion, but I look forward to hear @tplookers thoughts

[2021-06-17 15:03] #140 closed

[2021-06-23 12:32] kuzdogan commented on #139
Might be related to https://github.com/digitalbazaar/jsonld-signatures/issues/143 ?

[2021-06-24 08:14] vongohren commented on #139
I think it is pretty much the same, just dont know what the solution might be

[2021-06-30 20:31] smithbk opened #141 "Question: How to generate a dynamic key pair that works with the samples?"
This is a question, not a bug (I assume).  Is there a forum (e.g. rocket chat or slack channel) in which to ask these questions?

That said, my question is how to generate a dynamic key pair that works with the samples?  I am trying to write an issuer and holder to implement an issuance flow.

I am doing the same as found in the demo_single.ts sample except instead of loading the static key pair a

[2021-07-02 11:51] TimoGlastra commented on #141
The key needs to have a verificationMethod identifier. This should then be resolvable in your application.

The tests in this library have a custom resolver that resolves to the specific key so it can be used for verification. https://github.com/mattrglobal/jsonld-signatures-bbs/blob/3000f3cecc04310b5b99acb969f105d6156e2e55/__tests__/__fixtures__/customDocumentLoader.ts#L34

So you'd need to set u

[2021-07-10 19:21] OR13 opened #142 "TypeError: suite.ensureSuiteContext is not a function"
This is caused by recent changes in https://github.com/digitalbazaar/jsonld-signatures

Here is an example implementation that would remove this error:

[code]

[2021-07-10 19:22] OR13 commented on #141
For example G2 / G1 keys: https://did.key.transmute.industries/generate/bls12381?seed=1510007de9c70aa6ce0c5c2c85d9c2f5debc154abb71c3080c6f0345262b7165

[2021-07-14 10:08] kdenhartog commented on #141
This is actually the best place for this. Sorry for the delay on it though.

As for your question, it appears your failing because your key has no associated verificationMethod. In other words @TimoGlastra hit in on the head about being able to resolve the did document that the public key is associated with. In the single_demo case the documentLoader is able to resolve the `did:example:489398593`

[2021-07-16 11:24] vongohren commented on #139
This is probably related to this issue aswell: https://github.com/mattrglobal/jsonld-signatures-bbs/issues/142

[2021-07-27 20:50] smithbk opened #143 "Question: How to generate a composite proof"
Can you tell me how to generate a compose proof?  That is, can I generate a single proof by revealing selected fields from multiple signed documents?

Thanks

[2021-07-27 20:52] smithbk commented on #141
Thanks for the help.  Yes, you were correct.  I was returning the incorrect values from my doc loader.

[2021-07-27 20:52] #141 closed

[2021-07-28 01:51] kdenhartog commented on #143
As far as I'm aware we have not added support for this feature to the library at this point. It is something that should be possible cryptographically if I'm remembering things correctly.

@tplooker may be able to provide more details on this.

[2021-07-31 17:07] OR13 opened #144 "RuntimeError: unreachable in JEST"
[code]

Observed when creating verifiable credentials of the form:

[code]

Version:

[code]

Interestingly NOT reproducible in JEST by itself, UNLESS you import a suite instance from another module, and don't import the suite directly... for example:

This passes
[code]

This fails
[code]

I suspect this has something to do with how JEST imports handle wasm modules, or Uint8Arrays.

[2021-07-31 17:31] OR13 commented on #144
Indeed, this issue is caused by how jest handles globals... A work around is to use a custom environment:

`custom-jest-node-environment.js`
[code]

`jest.config.js`
[code]

[2021-08-01 23:30] kdenhartog commented on #144
For reference, what version of jest are you running here? From what I remember jest has it's own import modules functionality rather than relying on node.js and I'm wondering if this issue is something that comes up because wasm modules haven't stablized with the new jest importer yet or if it's possibly because we haven't updated things yet. (I think we're 2 or 3 major versions behind in this rep

[2021-08-02 15:03] OR13 commented on #144
https://github.com/OR13/GNARLY/blob/main/package.json#L57

[code]

[2021-08-12 19:00] OR13 opened #151 "`deriveProof` does not support blank node identifiers for` credentialSubject`"
Originally discovered by @brianorwhatever

See is reproduction here:

https://github.com/transmute-industries/verifiable-data/pull/76

Surfacing from the linked PR description:

Related issues:

- #121
- #128

Questions:

1. Is it possible to use `deriveProof` on a credential with no `credentialSubject.id`? [this example](https://w3c-ccg.github.io/ldp-bbs2020/#example-12) implies that it should be

[2021-08-12 19:08] OR13 commented on #151
Current hypothesis is that is may be VC related by not LD Suite related... working to confirm that on the linked PR.

[2021-08-12 21:59] brianorwhatever commented on #151
I have attempted to recreate with just the linked data proof from example 12 above and ran into an issue with the id already being a node identifier
![image (1)](https://user-images.githubusercontent.com/7122708/129275272-c4f92b1b-302b-41ef-8acc-cb6c6e301c7e.png)
removing the id derived a proof properly however I'm now running into a `internal error in Neon module: index out of bounds: the len is

[2021-08-14 14:23] OR13 commented on #151
Hmm, this test maybe covers this case https://github.com/mattrglobal/jsonld-signatures-bbs/blob/master/__tests__/AnonymousVC.spec.ts

[2021-09-16 19:50] brianorwhatever commented on #142
has any progress been made on any of these issues? I am running into the same problem

[2021-09-20 15:57] OR13 commented on #142
https://github.com/transmute-industries/verifiable-data/blob/main/packages/bbs-bls12381-signature-2020/src/BbsBlsSignature2020.ts#L48

^ this implementation supports it... feel free to help port it here.

[2021-09-23 22:52] brianorwhatever opened #158 "proof blank node and subject blank node collide"
So I have been debugging why I can't get this document to derive a credential that verifies.
[code]
and the following frame
[code]

I have finally found what I think is the problem. When I step through the code at this line

https://github.com/mattrglobal/jsonld-signatures-bbs/blob/a1271750ed5211f1210323534402575967e4fae2/src/BbsBlsSignatureProof2020.ts#L135

I notice that the concatenation of the

[2021-09-23 23:15] OR13 commented on #158
I've seen similar issues before.... I happen to think this is a better normalization approach:

https://github.com/transmute-industries/merkle-disclosure-proof-2021/blob/main/src/merkle/normalization/json-pointer.ts

[2021-09-24 03:36] brianorwhatever commented on #158
me too... but since we have urdna to work with for now what's happening here?

this comment concerns me

https://github.com/mattrglobal/jsonld-signatures-bbs/blob/a1271750ed5211f1210323534402575967e4fae2/src/BbsBlsSignatureProof2020.ts#L160

proof statements are always first?

[2021-09-24 03:37] brianorwhatever commented on #158
doesn't look like that's the case [here](https://json-ld.org/playground/#startTab=tab-normalized&json-ld=%7B%22%40context%22%3A%5B%22https%3A%2F%2Fwww.w3.org%2F2018%2Fcredentials%2Fv1%22%2C%22https%3A%2F%2Fw3id.org%2Fsecurity%2Fsuites%2Fbls12381-2020%2Fv1%22%2C%22https%3A%2F%2Fw3id.org%2Fvaccination%2Fv1%22%5D%2C%22type%22%3A%5B%22VerifiableCredential%22%2C%22VaccinationCertificate%22%5D%2C%22id%2

[2021-09-28 15:39] OR13 commented on #158
https://github.com/decentralized-identity/waci-presentation-exchange/issues/115

If test vectors can't be generated for the example here, we may need to consider not using the suite.

[2021-09-28 16:14] dlongley commented on #158
For LD integrity proofs, the `proof` field is removed from the document prior to canonicalization and its contents are canonicalized separately. For suites other than BBS+, the canonized proof and the canonized document are separately hashed and those hashes are concatenated together to form the value that is passed to a crypto algorithm to generate the signature. This can be seen in an implementa

[2021-09-28 16:17] dlongley commented on #158
@brianorwhatever,

Simply pasting a signed document into the JSON-LD playground's canonize tool will canonize the entire document vs. separating the proof value out and canonizing it separately to allow for "proof sets" (as described in my comment above). So what's missing here is that it's important to separate out the document's statements from the proof's statements. Both sets of statements are

[2021-09-28 16:18] OR13 commented on #158
+1 @dlongley ... IMO it was a mistake to "seperate the proof" before normalization... the complexity of this that the container semantics for proof are brutal....

[code]

[2021-09-28 16:19] dlongley commented on #158
One more note:

You'd run into the same issue of needing to separate document statements from proof statements with any other canonize function (e.g., json pointer, base64url, etc.) if multiple independent signatures are to be supported, so the problem is really orthogonal.

[2021-09-28 16:22] OR13 commented on #158
Here is the code we used for the merkle proof suite... https://github.com/transmute-industries/merkle-disclosure-proof-2021/blob/main/src/merkle/normalization/urdna2015.ts

IMO, proof should be handled along with the document... not separately from it... only the attributes of the proof that come from the signature should be omitted by `createVerifyData`....

This allows for us to replace URNDA wi

[2021-09-28 16:26] dlongley commented on #158
@OR13,

Those `@graph` semantics wouldn't change even if you didn't separate out the proof before canonizing. Separating the proof before canonizing just allows independent signatures to occur. If you skipped that step, all signers would have to coordinate, but the proof semantics you quoted would still need to remain. They ensure that someone reading the document as a graph will interpret the dat

[2021-09-28 16:31] dlongley commented on #158
It's fine if you want to canonize everything together -- just know that the trade off is that you can't have multiple *independent* signers and / or proofs.

[2021-09-28 19:55] OR13 commented on #158
@dlongley yes, I have been weighing the trade offs wrt that... IMO, this not the appropriate place to address multi-signature formats... that work should be handled in a work item targeted at extending JOSE such as  https://github.com/json-web-proofs/json-web-proofs/pull/10

We're shooting ourselves in the foot by making suite implementers care about all these concerns at once... instead of layeri

[2021-09-28 22:40] brianorwhatever commented on #158
I have created a PR #159 demonstrating a failing test. I suspect what @dlongley pointed out here https://github.com/mattrglobal/jsonld-signatures-bbs/issues/158#issuecomment-929375910 is the root cause of the issue here

[2021-09-29 02:29] tplooker commented on #158
Thanks @brianorwhatever apologies it has taken me a few days to get to this issue, I see the cause now will start working on a fix tonight.

[2021-10-18 00:59] tplooker commented on #158
To update this issue, upon investigation of the root cause, it is not due to subject blank nodes colliding it is because in some JSON-LD framing operations (that feature more than 1 blank node) the order of the statements in the derived proof can be different to the order in which they were signed. The syntax for the deriveProof API accommodates this (via the revealedMessages array), however the e

[2022-01-10 02:47] kdenhartog opened #166 "Update dependencies that are bringing in old versions of sodium-native which aren't compatible with latest node versions on Mac"
It seems based on #165 that there's an issue that's been discovered for Mac platform when using node.js v14 and v16. We currently only test for Ubuntu platforms and didn't catch this in our CI pipeline.

We should update our crypto-ld dependencies which appear to be bringing in some (unused) crypto-ld suites in the version that we're using which include sodium-native as a dependency. I believe tha

[2022-01-26 01:01] about-code opened #169 "Sample "leaking" correlatable identifiers?"
Note: This is less an issue about BBS+ signatures but more about the story of Verifiable Credentials in general and the way it is presented in README.md (in this  [revision](https://github.com/mattrglobal/jsonld-signatures-bbs/blob/f935008ae2997f6c808f83b509647402bd3eb33f/README.md])).

The README states that **only givenName, familyName and gender** should become part of the *output document* (se

[2022-01-26 04:19] kdenhartog-mattr commented on #169
This is one of the odd behaviors of JSON-LD frames where because the `@explicit` tag is not used at the top level and by default JSON-LD defaults to `@explicit` [being false](https://www.w3.org/TR/json-ld-framing/#explicit-inclusion-flag), that the additional base level terms get included.

In order to make sure that this doesn't happen you'll need to include the `"@explicit": true` at every level

[2022-01-28 20:43] about-code commented on #169
Thank you @kdenhartog-mattr. My first attempt went into the same direction. Indeed it fixes disclosure of `Permanent Resident Card`'s `identifier` (but only that). I have been trying to get rid of `credentialSubject`'s  `id` and `did: ...` value, as well.

The answer which I believe applies to that second part, is: it doesn't work. The attribute can't be prevented to be "revealed" using the given

[2022-01-28 20:45] #169 closed

[2022-02-20 22:46] tmarkovski commented on #151
What's the suggested fix to this issue? Force the use of `id` in `credentialSubject`?

[2022-02-21 07:44] tplooker commented on #151
@tmarkovski that would be a suggested interim solution however the long term solution is a revision to the proof suite that accounts for this case in the URDNA algorithm. Given the recent consensus we have had around https://github.com/decentralized-identity/bbs-signature/issues/10 I'm working on an updated implementation that incorporates this among various other changes

[2022-02-22 01:54] picardcapt1212 opened #175 "deriveProof prints out @graph property"
Hi, Im testing selective disclosure with jsonld-signatures-bbs. package version was 1.0.0

I have made an custom context and based on this I issued verifiable credential and derivedProof.
But when I get derivedProof I get `@graph`property which i didnt expect.

The `context` I made is below:
[code]

The `verifiable credential` i issued is below:
[code]

The deriveProofFrame I used is below:
I only

[2022-02-22 22:19] kdenhartog commented on #175
The main issue is that in the frame, you're including the "Route" type in the top level which is indicating to the Frame API that you want to match on node types. Since there's two potential subgraphs that can be generated from these which rely on different contexts it causes the odd behavior that you're seeing with your frame.

Change your frame to this without making changes to the context or th

[2022-02-23 06:07] picardcapt1212 commented on #175
@kdenhartog Thank you!
I guess my `deriveProofFrame` or `context` was wrong haha.

I solved the problem as in the following way.

1. Remove `Route`  in `"type":["VerifiableCredential", "Route"]` as you said. (With the same context!)
[code]

2. Change the context with new type property which is `RouteCredential`
[code]

And I also tested with the context you gave me And it worked well. Thank you :

[2022-02-23 06:08] #175 closed

[2022-03-22 13:51] gmanavarro opened #177 "React Native / Expo support"
Hi there,
I'm wondering if this library supports environments like React Native, as I'm working on a POC to sign from a mobile device and I'm getting some errors. I have an Expo app on which I'm trying to make this work and I'm getting the following error

<img width="426" alt="Untitled" src="https://user-images.githubusercontent.com/32619113/159496504-a55b4fa5-15a5-4cea-a43e-ebc8410eae00.png">

I

[2022-04-02 19:11] karimStekelenburg commented on #142
Hi @OR13 thanks for the link! I'm trying to understand the differences between these two implementations. Is there a specific reason the Transmute implementation requires the `https://w3id.org/security/suites/bls12381-2020/v1` context on the input doc and this MATTR one doesn't?

Mainly asking because I don't see any mention of this context in the BBS spec either.

[2022-04-04 13:15] OR13 commented on #142
The function is required by digital bazaar, the context url is in the form
we agreed to use during the did WG.

On Sat, Apr 2, 2022, 2:11 PM Karim Stekelenburg ***@***.***>
wrote:

[2022-04-04 21:36] johnwen84 opened #180 "Use latest jsonld and jsonld-signatures"
Hi,
Our recent security scan reported a few vulnerabilities from jsonld-signatures-bbs. This seems mostly to be because jsonld-signatures-bbs is not using the latest version of jsonld and jsonld-signature. I wonder when will you upgrade the dependencies.
To recreate this, just do:
npm i @mattrglobal/jsonld-signatures-bbs
You will see that npm reports 7 moderate severity vulnerabilities. Some of th

[2022-04-22 02:00] johnwen84 opened #181 "jsonld.SyntaxError"
Hello,
Is jsonld-signatures-bbs supposed to work with the latest jsonld-signatures (9.3.1)? I tried it and got this error calling deriveProof(),
jsonld.SyntaxError: Invalid JSON-LD syntax; tried to redefine a protected term.

Also when I tried to verify and old doc signed by using the old jsonld-signatures (5.0.1), deriveProof() is ok, but I got a VerifictionError calling verify() after that.

Can

[2022-04-26 01:49] picardcapt1212 opened #182 "Creating verifiable presentation with derivedProof with bbs+ suite"
Hi, I'm using jsonld-signature-bbs library for selective disclosure :)

I tried to create verifiable presentation with `BbsBlsSignature2020`, `BbsBlsSignature2020Proof` and got below error.
[code]

I looked up jsonld-signatures-bbs __tests__ folder and found out the suite you were using was `Ed25519Signature2018`.

So my question is below.
1. `BbsBlsSignature2020` and `BbsBlsSignature2020Proof` is

[2022-05-11 17:33] pcibraro commented on #142
Once I add the missing ensureContext function, I get into another issue with context collision.

jsonld.SyntaxError: Invalid JSON-LD syntax; tried to redefine a protected term.

The issued is caused by "Ed25519Signature2018".

Any idea/workaround for getting that solved ? Thanks

[2022-05-11 18:21] OR13 commented on #142
probably you have too many contexts in your JSON-LD... and they both define the same term, `Ed25519Signature2018`

[2022-05-11 18:26] pcibraro commented on #142
Yes, but the strange thing is that term is only defined in the "https://www.w3.org/2018/credentials/v1" context for this sample. I don't have them anywhere else. Thanks

[2022-05-11 18:49] OR13 commented on #142
Past the example you are trying to sign.

[2022-05-11 18:54] pcibraro commented on #142
Thanks for looking into this. It is the sample in this repo. https://github.com/mattrglobal/jsonld-signatures-bbs/tree/master/sample/ts-node/src/demo_single.tx. I only updated the jsonld and jsonld-signatures packages to be the latest available version, and provided an empty implementation for ensureSuiteContext.

[2022-05-18 06:28] maikel-maas opened #186 "Wrong context in proof"
I'm trying to run the example provided by you. The proof returned contains a @context property which contains 'http://w3id.org/security/v2':

[code]

[2022-05-19 11:04] maikel-maas commented on #186
I've just found out that I was using the wrong context in the document to sign and the wrong version of jsonld-signatures. It's working now, so I'm closing this issue.

[2022-05-19 11:04] #186 closed

[2022-06-11 10:43] Yorik0512 opened #188 "Usage within React Native apps"
Hey guys,

You still refer to asm.js as a fallback for cases like React Native, although asm.js support was removed in May 2021.

Could you please point me to the solution that shall help me to apply this library within our React Native app?

I would appreciate any piece of advice to help in advancing towards the solution in case it’s not available at the moment.

Regards,
Yurii

[2022-06-25 10:57] AlexMesser commented on #182
Had the same issue. My issue was with `jsonld-signatures` version - I used `v10.0.0`. After downgrading to `v5.0.1` proof was successfully validated.

[2022-06-30 00:01] picardcapt1212 commented on #182
Thanks! I will. try with version 5.0.1👍

[2022-06-30 00:01] #182 closed

[2022-07-05 09:06] uvdsl opened #193 "Disclose only one element of an `@type` object array?"
Hi all,
maybe a quite simple question but I could not get it to work:
Can I (and if so, how) extract only one element of an `@type` object array to be disclosed in the derived proof?
It works for the `demo` attribute but not for `@type` and I am confused.

It is probably only related to the JSON-LD framing, but maybe I am just not seeing something obvious...

I appreciate any help!

Example VC:
[c

[2022-09-07 07:26] yuejun92 opened #199 "Security vulnerability"
There are 2 High and 6 Medium findings came from **node-forge** and **xmldom**. Is it possible to up the version for the 2 libraries?
![security_findings](https://user-images.githubusercontent.com/12484773/188814185-53e3c018-70f4-4ce2-a062-f604154a1819.jpeg)

[2022-09-13 22:59] tplooker commented on #199
@yuejun92 can you clarify where this has been produced from and what version of the library was used to produce this report, because there has been a bunch of dependency updates recently.

[2022-09-14 17:01] yuejun92 commented on #199
Hi @tplooker, this report is produced by [SNYK](https://snyk.io/) using v7.0.0. Upgrading the node-forge library to v1.3.0 will fix all the vulnerabilities.
![h1](https://user-images.githubusercontent.com/12484773/190217075-a14c8e42-67d0-4f97-a951-4d57f71d0d3c.JPG)
![m1](https://user-images.githubusercontent.com/12484773/190217079-8b60cf21-f1fd-416b-91bc-23da9f4123e1.JPG)
![m2](https://user-images

[2022-09-14 20:40] tplooker commented on #199
@yuejun92 See [here](https://github.com/mattrglobal/jsonld-signatures-bbs/blob/master/yarn.lock#L3958-L3961) please update your targeted version of jsonld-signatures-bbs the latest release is [v1.1.0](https://github.com/mattrglobal/jsonld-signatures-bbs/releases/tag/1.1.0)

[2022-09-14 20:46] tplooker commented on #199
This issue has been fixed in the latest release, closing as resolved.

[2022-09-14 20:46] #199 closed

[2022-09-14 20:48] tplooker commented on #188
Hi @Yorik0512, bbs-signatures is WASM based which all major browsers support so the library works with web based frameworks out of the box.

[2022-09-20 19:40] nklomp commented on #188
@tplooker React-Native is not browser based, you are probably confusing it with React.

Actually I am also interested in how React-Native would be supported, now that asm.js has been removed altogether.

[2022-09-21 16:33] cre8 commented on #142
what is the plan for this? Do I have to downgrade json-ld from 9 to 5 or is there a way to go around this?

[2022-09-27 17:39] OR13 commented on #142
@cre8 I am not sure, but I would guess you would need to downgrade `jsonld-signatures` in order to avoid this issue.

[2022-09-28 06:06] yuejun92 opened #201 "Getting node-pre-gyp Error when npm install"
Getting the error below while npm install "@mattrglobal/jsonld-signatures-bbs" library
node-pre-gyp ERR! stack Error: response status 404 Not Found on https://github.com/mattrglobal/node-bbs-signatures/releases/download/0.15.0/node-v72-linux-x64.tar.gz

[2022-09-28 06:36] yuejun92 opened #202 "SNYK vulnerabilities for V1.1.0"
Hi,
Currently @mattrglobal/jsonld-signatures-bbs@1.1.0 is still using jsonld-signatures@5.0.1
There are 2High 6Medium flagged out in SNYK caused by the out-updated version of jsonld-signatures@5.0.1.
Is it possible to up the version for jsonId-signatures and jsonld?

Thank you.

![snyk-1](https://user-images.githubusercontent.com/12484773/192705454-5bf9e475-dd8f-43b3-a5ae-3f4e5af9f27e.png)
![snyk-

[2022-10-05 02:43] yuejun92 commented on #202
Hi, is there any updates?

[2022-11-14 13:59] lemoustachiste commented on #142
From what I can tell, support for the method `ensureSuiteContext` is the only thing that's missing for compatibility with jsonld-signatures in its latest form (11.0.0).

@OR13 the context URL in your implementation differs from the one in the Mattr example: https://w3id.org/security/bbs/v1 vs https://w3id.org/security/suites/bls12381-2020/v1, however they are both the same in content. Are both acc

[2022-11-15 14:52] OR13 commented on #142
@lemoustachiste the context IRI should not matter, as long as it produces the same nquads.

My opinion is that an error should be thrown when attempting to sign a document with invalid context, and no "just in time patching / mutation" should be applied.

Also the documentLoader should always be an argument to the functions that require it (any that produce nquads).

[2022-11-17 14:56] lemoustachiste commented on #142
After more time spent on the matter, verification proved difficult on 2 aspects:
- no compatibility with [security-document-loader](https://github.com/digitalbazaar/security-document-loader), but that was my own personal implementation detail
- the shape of the verification method as created by this library was not compatible for verification with a later version of jsonld-signature (`@graph` prop

[2022-11-29 15:14] lemoustachiste opened #207 "derived proof from document with `urn:uuid` format id does not verify"
So following this problem when verifying a derived document: https://github.com/mattrglobal/node-bbs-signatures/issues/211,

I have found that the issue is coming from this piece of information from my initial document:

[code]

There are 2 levels to the issue.

If I remove the document `id` altogether, then my reveal document is properly formed and verifies - but I have mangled with potentially c